.img-invert{
    filter: invert(1);
  }
  .img-invert:hover{
    filter: invert(0);
  }

  
.clickable-mini-images:hover{
    cursor: pointer;
    transform: scale(1.3);
  }
  .clickable-images:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  