@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-buttons {
    all:unset;
    display:block;
    position: absolute;
    top:0;
    bottom:0; 
    cursor:pointer;
    width:2.5rem;
    transition: background-color 100ms ease-in-out;
    color: var(--white-cacs);
    padding: 0.1rem 0.2rem; 
    z-index: 10;
  }
.slider-buttons:hover, 
.slider-buttons:focus-visible {
    background-color: rgba(0,0,50,0.2);
    cursor: pointer;
    background-size: 100% 0%;
}
.slider-buttons:hover > *.left {
    animation: squish-left 500ms ease-in-out;
}
.slider-buttons:hover > *.right {
    animation: squish-right 500ms ease-in-out;
}
@keyframes squish-left {
    0% {
        transform: translateX(0rem) scaleX(-1);
    }
    50% {
        transform: translateX(-0.7rem) scaleX(-1);
    }
    100% {
        transform: translateX(0rem) scaleX(-1);
    }  
}
@keyframes squish-right {
    0% {
        transform: translateX(0rem);
    }
    50% {
        transform: translateX(0.7rem);
    }
    100% {
        transform: translateX(0rem);
    }  
}
.slider-buttons > * {
    stroke: var(--white-cacs);
    fill:rgba(0,0,50,0.5);
}
  
.slider-content {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:'block';
    transition: translate 500ms ease-in-out;
}

.slider-dot-buttons {
    border-radius: 5rem;
    border-color: var(--navy-cacs);
    border-width: 0.1rem;
    background: rgba(0,0,50,0.4);
    color: var(--white-cacs);
    font-size: 2rem; 
    padding: 0.5rem 0.5rem; 
    z-index: 10;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    }
.slider-dot-buttons:hover,
.slider-dot-buttons:focus-visible {
    border-radius: 5rem;
    border-color: var(--white-cacs);
    scale:1.4;
    border-width: 0.1rem;
    background: rgba(0,0,50,0.4);
    color: var(--white-cacs);
    font-size: 2rem; 
    padding: 0.5rem 0.5rem; 
    z-index: 10;
    gap: 0.2rem;
    }