@tailwind base;
@tailwind components;
@tailwind utilities;

@import './css-style-sheets/slideshow.css';
@import './css-style-sheets/buttons.css';
@import './css-style-sheets/text.css';
@import './css-style-sheets/form.css';
@import './css-style-sheets/images.css';
@import './css-style-sheets/backgrounds.css';


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 255;
    --background-end-rgb: 255, 255, 255;
    --darkblue-cacs: rgb(0,0,50);
    --darkblue-cacs-transparent: rgba(0, 0, 50, 0.6);
    --lightblue-cacs: rgb(47, 122, 172);
    --white-cacs: #fff;
    --gray-cacs: #ccc;
    --navy-cacs: #263f6b;
    font-size: 16px;
  }
}
@media (min-width: 1200px) 
 {
    :root
    {
        font-size: 16px; 
    }
 }
@media (min-width: 1000px) 
 {
    :root
    {
        font-size: 10px; 
    }
 }

 @media (max-width: 1000px) 
 {
    :root
    {
        font-size: 8px; 
    }
    .paragraph-content{
      flex-direction: column;
    }
    .hide-mobile {
      visibility: hidden;
    }
    .hide-mobile.small {
      display: none;
    }
 }


*,*::before,*::after {
  box-sizing: border-box;
}

header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

.list-navbar {
  padding: 1rem;
  transition: all linear 0.2s;
  color: var(--gray-cacs);
}
.list-navbar:hover {
  background: var(--darkblue-cacs-transparent);
  cursor: pointer;
  color: var(--white-cacs);
  border-radius: 8px;
  text-decoration: underline;
  text-decoration-color: var(--lightblue-cacs);
}

.dropdown-menu {
  transition: all 0.2s ease-in-out;
  background: var(--darkblue-cacs-transparent);
  box-shadow: 0rem 0.75rem 2.25rem 0rem rgba(82, 63, 105, 0.05);
  transform-origin: top;
  border-radius: 0.6rem;
}

.numbers {
  font-size: 7rem;
  font-weight: bold;
  color: var(--lightblue-cacs);
}

.list-statistics{
  font-size: 2rem;
  font-weight: bold;
  color: var(--navy-cacs);
}
.list-statistics.small{
  font-size: 1.5rem;
}